#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #f0f0f0;
}

.pointer {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background-color: #f43f5e;
  position: absolute;
  display: block;
  transition: 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: jello-vertical 0.9s both;
  -webkit-animation: jello-vertical 0.9s both;
}

.menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f0f0;
}

.menu > p:first-of-type {
  font-size: 20px;
  font-weight: 700;
  color: #262626;
}

.menu > p:last-of-type {
  font-size: 16px;
  font-weight: 500;
  color: #e11d48;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 700;
  background-color: #262626;
  color: #f4f4f5;
}

@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
